@model dynamic
<table class="table">
    <tr><th>Lab Number</th><td>@Model.LabNumber</td></tr>
    <tr><th>Topic</th><td>@Model.Topic</td></tr>
    <tr><th>Purpose</th><td>@Model.Purpose</td></tr>
    <tr><th>Performer</th><td>@Model.Name</td></tr>
</table>